<app-header></app-header>
<div class="flex flex-col md:flex-row h-screen bg-[#f5e6d3]">
  <!-- Sidebar -->
  <div class="bg-[#ddd8c5] p-4 rounded-lg flex flex-col gap-3 w-full md:w-1/4 md:mt-0 mt-4">
    <div class="grid grid-cols-2 gap-2">
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 bg-[#50b7a6] rounded"></div> <span class="font-mono text-sm">Lugar asignado</span>
      </div>
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 bg-[#e57373] rounded"></div> <span class="font-mono text-sm">Lugar ocupado</span>
      </div>
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 bg-[#808080] rounded"></div> <span class="font-mono text-sm">Lugar vacío</span>
      </div>
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-wheelchair" viewBox="0 0 16 16">
          <path d="M12 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m-.663 2.146a1.5 1.5 0 0 0-.47-2.115l-2.5-1.508a1.5 1.5 0 0 0-1.676.086l-2.329 1.75a.866.866 0 0 0 1.051 1.375L7.361 3.37l.922.71-2.038 2.445A4.73 4.73 0 0 0 2.628 7.67l1.064 1.065a3.25 3.25 0 0 1 4.574 4.574l1.064 1.063a4.73 4.73 0 0 0 1.09-3.998l1.043-.292-.187 2.991a.872.872 0 1 0 1.741.098l.206-4.121A1 1 0 0 0 12.224 8h-2.79zM3.023 9.48a3.25 3.25 0 0 0 4.496 4.496l1.077 1.077a4.75 4.75 0 0 1-6.65-6.65z"/>
        </svg> <span class="font-mono text-sm">Lugar para discapacitados</span>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex flex-col items-center justify-center flex-1 p-2 md:p-6">
    <div class="container mx-auto flex justify-center items-center h-screen">
      <div class="parking grid grid-cols-2 gap-4 w-full max-w-4xl">
        <div *ngFor="let cajon of cajones" class="slot p-8 md:p-16" [ngStyle]="{'background-color': getColorPorEstado(cajon.estado)}">
          {{ cajon.nombre }}
        </div>
      </div>
    </div>

    <div class="mt-6 text-xl font-mono">
      ¿Requiere el cajón para discapacidad?
    </div>
    <div class="flex items-center gap-4 mt-2">
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer">
        <div class="w-14 h-8 bg-gray-300 peer-focus:ring-4 peer-focus:ring-blue-300 
                    rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-6 
                    peer-checked:bg-blue-500 after:content-[''] after:absolute after:top-1 
                    after:left-1 after:bg-white after:border-gray-300 after:border after:rounded-full 
                    after:h-6 after:w-6 after:transition-all"></div>
      </label>
      <button (click)="abrirPluma()">Abrir Pluma</button>
      <button (click)="cerrarPluma()">Cerrar Pluma</button>
      <button (click)="abrirPlumaEmergencias()">Apertura total</button>
    </div>
  </div>
</div>