<div class="flex flex-row gap-6 mt-6 w-full max-w-3xl">
    <!-- Leyenda de colores -->
    <div class="bg-[#ddd8c5] p-4 rounded-lg flex flex-col gap-3 w-1/4">
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 bg-[#50b7a6] rounded"></div> <span class="font-mono text-sm">Lugar asignado</span>
      </div>
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 bg-[#e57373] rounded"></div> <span class="font-mono text-sm">Lugar ocupado</span>
      </div>
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 bg-[#2c5252] rounded"></div> <span class="font-mono text-sm">Lugar para discapacitados</span>
      </div>
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 bg-[#808080] rounded"></div> <span class="font-mono text-sm">Lugar vacío</span>
      </div>
    </div>